@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
};

.cuerpo{
    //background: linear-gradient(#e66465, #9198e5);
    margin-top: 15em;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
};

ion-content{
    --ion-background-color: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.entradaLogin{
    color: white;

}

#password{
    margin-bottom: 10px;
}