<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="login == true" >
    <ion-tab-button tab="tab1"(click)="loadingPhoto = false" *ngIf="loadingPhoto == false && this.router.url != '/tabs/cargar-foto'">
      <ion-icon name="image"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="loadingPhoto = false" *ngIf="loadingPhoto == false && this.router.url != '/tabs/cargar-foto'">
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tomar-foto" *ngIf="loadingPhoto == true || this.router.url == '/tabs/cargar-foto'">
      <ion-icon name="camera-outline"></ion-icon>    
    </ion-tab-button>

    <ion-tab-button tab="cargar-foto" (click)="cargarFoto()"><!-- *ngIf="loadingPhoto == false && this.router.url != '/tabs/cargar-foto'">-->
      <ion-icon name="image-outline"></ion-icon>
    </ion-tab-button>  

 

    <ion-tab-button tab="tab3"(click)="loadingPhoto = false" *ngIf="loadingPhoto == false && this.router.url != '/tabs/cargar-foto'">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    


    <!--
    <ion-tab-button tab=""  *ngIf="loadingPhoto == true || this.router.url == '/tabs/cargar-foto'">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-tab-button>
    -->

  </ion-tab-bar>

  <!-- Menu Cargar Fotos -->


</ion-tabs>
